.wallpaper img{
    height: 30vh;
    border-radius: 50%;
}
.profile{
    display: flex;
    column-gap: 10%;
}
.avatar{
    flex-basis: 15%;
    margin-top: 20px;
    border-radius: 10%;
}
.avatar img{
    height: 30vh;
}
.description{
    align-self: center;
}