.App {
    height: 100%;
    display: grid;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.App-content{
    grid-area: c;
    background-color: cornflowerblue;
}



